Datasets/UTKFace
Datasets/preprocessing/imdb_crop/
Datasets/preprocessing/wiki_crop/
imageclassification/
.ipynb_checkpoints/
AgeDetectionApp/output/
Models/age-prediction/
Datasets/IMDB-WIKI/
Datasets/IMDB-WIKI-200/
Datasets/IMDB-WIKI-multi/